{% extends 'base.html' %}
{% block heading %}Order List{% endblock heading %}
{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Customer</th>
            <th>Items</th>
            <th>Status</th>
            <th>Created Time</th>
            <th>
                <a href="{% url 'order_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add Order
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in order_list %}
            <tr>
                <td>{{ i.customer }}</td>
                <td>{{ i.items }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.created_at }}</td> 
                <td>
                    <!-- Update button -->
                    <a href="{% url 'order_update' i.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    
                    <!-- Delete form -->
                    <form action="{% url 'order_delete' i.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn text-danger px-0">
                            <i class="far fa-trash-alt fa-lg"></i>
                        </button>
                    </form>
                </td>                
            </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}